.navbar {
  background-color: var(--background-color-light);
  padding: 1rem 2rem;
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  max-height: 40px;
  margin: 0 auto;
}

.nav-brand img {
  width: 120px;
  height: 100px;
  object-fit: contain;
  margin-right: 0rem;
  vertical-align: middle;
}

.nav-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.nav-brand a:hover {
  color: var(--secondary-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: var(--text-color-primary);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.nav-link:hover {
  background-color: var(--background-color-dark);
  color: var(--primary-color);
}

.logout-button {
  background-color: var(--error-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
}

.logout-button:hover {
  background-color: var(--error-color-dark);
}

.notification-bell {
  position: relative;
  margin-left: 20px;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

